/* 공통 */
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
html{background-color: white; min-width: 1440px;}
html::selection {background: #555; color: white;}
body{background-color: white; margin: 0; padding: 0; font-family: 'notosanskr'; font-weight: 300; position: relative;}
hr{clear: both; margin: 0; padding: 0;}
a{color: black; text-decoration: none;}
h1,h2,h3,h4,h5,h6{margin: 0;}
h6{color: #555; font-size: 14px; font-weight: 400;}


/* header */
header{
  width: 100%;
  position: fixed; z-index: 999;
}
.h_wrap{
  background-color: white; border-bottom: 1px solid #eee;
  width: 100%; height: 150px; margin: 0 auto;
}
.h_top_wrap{
  border-bottom: 1px solid #eee;
  width: 100%;
}
.h_top{
  width: 1440px; height: 60px; margin: 0 auto; padding: 0 40px;
  display: flex; align-items: center; justify-content: space-between;
}
#h_left{
  display: flex; align-items: center; justify-content: left; gap: 5px;
  > div{margin-right: 15px;}
  > img{width: 30px; cursor: pointer;}
}
#h_left select{
  border: 1px solid #eee;
  padding: 5px 30px 5px 15px;
  appearance: none; outline: none; cursor: pointer;
  background: url('../img/icon_arrow.png') no-repeat right center;
  background-size: 20px;
}
#h_right{
  display: flex; justify-content: right; gap: 10px; align-items: center;
  h6{color: #aaa; font-size: 11px; font-weight: 300; letter-spacing: 0.5px; cursor: pointer;}
  span{color: #aaa; font-size: 8px;}
}
.h_menu{
  width: 1440px; height: 90px; margin: 0 auto; padding: 0 40px;
  display: flex; align-items: center; justify-content: space-between;
}
#h_logo{
  height: 100%;
}
nav{
  ul{margin: 0; padding: 0; display: flex; justify-content: left; gap: 80px;}
  li{margin: 0; padding: 0; list-style: none; font-size: 17px; cursor: pointer;}
}
#h_icon{
  display: flex; align-items: center; justify-content: right; gap: 20px;
  img{width: 20px; cursor: pointer;}
}


/* main */
.m_bn1{
  height: 650px; padding-top: 150px;
}
#m_bn1_img{
  width: 100%; height: 650px;
  background-image: url('../img/banner_main1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#m_bn1_text{
  float: left; margin-left: 19%; margin-top: 180px;
  p{color:white; margin: 0; padding: 0; font-size: 46px; line-height: 120%;}
  h4{color: white; margin-top: 45px; font-weight: 100; line-height: 150%;}
}

.m_bn2{
  width: 1440px; height: 900px; margin: 0 auto; text-align: center;
  position: relative;
}
.out_box{
  background-color: #f2f2f2; border-radius: 20px; cursor: pointer;
  img{height: 100%;}
}
.in_box{
  background-color: #c40f39; border-radius: 20px;
  display: flex; flex-direction: column; justify-content: center; align-items: center;
  transition: all 0.5s ease; opacity: 0;
  h6{color: white; font-weight: 100; letter-spacing: 2px;}
  p{margin: 0; color: white; font-size: 20px;}
  img{width: 31px; height: 31px; margin-top: 15px; transition: all 0.7s ease; opacity: 0.7;}
}
.out_box:hover .in_box{
  opacity: 1;
}
.out_box:hover .in_box img{
  transform: rotate(-270deg);
}
.m_bn2 div:nth-child(1){
  width: 400px; height: 160px; background-color: white; cursor: default;
  position: absolute; left: 100px; top: 100px; text-align: left;
  h1{line-height: 120%; letter-spacing: 2px;}
  hr{margin: 15px 0; width: 20px; border: 2px solid #c40f39;}
}
.m_bn2 div:nth-child(2){
  width: 400px; height: 160px;
  position: absolute; left: 100px; top: 280px;
  > div{width: 370px; height: 130px; position: absolute; left: 15px; top: 15px;}
}
.m_bn2 div:nth-child(3){
  width: 820px; height: 340px;
  position: absolute; right: 100px; top: 100px;
  > div{width: 790px; height: 310px; position: absolute; left: 15px; top: 15px;}
}
.m_bn2 div:nth-child(4){
  width: 400px; height: 280px;
  position: absolute; left: 100px; top: 460px;
  > div{width: 370px; height: 250px; position: absolute; left: 15px; top: 15px;}
}
.m_bn2 div:nth-child(5){
  width: 400px; height: 340px;
  position: absolute; left: 520px; top: 460px;
  > div{width: 370px; height: 310px; position: absolute; left: 15px; top: 15px;}
}
.m_bn2 div:nth-child(6){
  width: 400px; height: 280px;
  position: absolute; right: 100px; top: 460px;
  > div{width: 370px; height: 250px; position: absolute; left: 15px; top: 15px;}
}

.m_bn3{
  background-color: #f2f2f2;
}
.m_bn3_wrap{
  width: 1440px; height: 800px; margin: 0 auto; text-align: center;
}
#m_bn3_1{
  h1{padding-top: 60px;}
  hr{margin: 10px auto; width: 20px; border: 2px solid #c40f39;}
  h6{margin-top: 15px;}
  ul{
    list-style: none; margin: 40px 0; padding: 0;
    display: flex; justify-content: center; gap: 5px;
  }
  ul li a{
    border: 2px solid gray; border-radius: 30px;
    width: 500px; height: 30px; padding: 5px 40px;
    color: gray; font-size: 14px; cursor: pointer;
    transition: all 0.5s ease;
  }
  ul li:nth-child(1) a{border-color: #c40f39; color: #c40f39;}
  ul li a:hover{border-color: #c40f39; color: #c40f39;}
}
#m_bn3_2{
  margin-top: 50px;
  p{margin-top: 35px; font-size: 13px;}
}
.swiper{
  width: 100%; height: 100%;
}
.swiper-slide {
  background: white; border-radius: 15px; height: 400px;
  display: flex; justify-content: center; align-items: center; text-align: center; overflow: hidden;
}
.swiper-slide > div{
  h5, h6{text-align: left; padding-left: 30px; line-height: 150%;}
  h6{color: #aaa; font-size: 13px; margin-bottom: 3px;}
  img{display: block; width: 100%; height: 100%;}
}

.m_bn4{
  video{width: 100%; display: block;}
}

.m_bn5{
  width: 1440px; height: 350px; margin: 0 auto; padding: 0 40px;
  display: flex; justify-content: center; text-align: center;
}
#m_bn5_1{
  width: 720px; height: 350px; padding: 40px 0;
  text-align: left; position: relative;
  h4{font-size: 18px;}
  > h6{border-bottom: 1px solid gray; color: dimgray; font-size: 12px; position: absolute; right: 40px; top: 42px;}
  hr{margin-top: 5px; width: 20px; border: 2px solid #c40f39;}
}
#m_bn5_news{
  margin-top: 25px; padding-right: 40px;
  img{width: 180px;}
}
#m_bn5_news_top{
  display: flex; gap: 30px;
  h2{font-size: 20px; font-weight: 500;}
  p{margin: 0; margin-top: 5px; color: #555; font-size: 14px; font-weight: 400;}
  h6{text-align: right;}
}
#m_bn5_news_bottom{
  margin-top: 20px; padding-top: 15px; border-top: 1px solid #aaa;
  position: relative;
  p{margin: 0; margin-bottom: 3px; color: #555; font-size: 14px; font-weight: 400;}
}
#m_bn5_news_date{
  position: absolute; right: 0; top: 15px;
  h6{margin-bottom: 3px; font-size: 14px;}
}
#m_bn5_2,#m_bn5_3{
  background-color: whitesmoke; width: 360px; height: 350px;
  div{padding: 40px;}
  h3{padding-top: 15px;}
  hr{margin: 15px auto; width: 20px; border: 2px solid #c40f39;}
  h6{padding-top: 2px; line-height: 150%;}
  p{
    border: 2px solid #c40f39; border-radius: 30px;
    width: 180px; margin-top: 50px; padding: 10px;
    color: #c40f39; font-size: 14px; font-weight: 500; cursor: pointer;
    transition: all 0.5s ease;
    display: inline-block;
  }
  p:hover{border-color: #c40f39; background-color: #c40f39; color: lightgray;}
}
#m_bn5_3{
  background-color: lightgray
}


/* footer */
footer{
  background-color: #131313; width: 100%; color: #aaa;
}
.f_wrap{
  width: 1440px; height: 300px; margin: 0 auto; padding: 0 40px;
}
.f_top{
  border-bottom: 1px solid rgba(200, 200, 200, 0.2);
  padding: 50px 0 20px 0;
  display: flex; justify-content: space-between;
  ul{
    margin: 0; padding: 0; list-style: none; font-size: 14px; text-align: right;
    display: flex; justify-content: right; gap: 10px;
    span{padding-top: 1px; font-size: 11px;}
    li{cursor: pointer;}
  }
  ul li:nth-of-type(2){color: white;}
}
.f_bottom{
  padding-top: 20px;
  display: flex; justify-content: space-between;
}
#f_info{
  p{margin: 0; color: white;}
  div{margin-top: 10px; display: flex; gap: 10px;}
  div span{margin-top: 2px; font-size: 11px;}
}
#f_cs{
  width: 180px; text-align: center;
  display: flex; flex-direction: column; gap: 3px;
  p{margin: 0; color: white; font-size: 18px; letter-spacing: 1px;}
  h2{font-weight: 400; transform: scaleX(1.2);}
  button{
    background-color: #555; border: 1px solid #aaa; border-radius: 5px;
    margin-top: 10px; padding: 8px 0;
    color: white; font-size: 14px; font-weight: 100; cursor: pointer;
  }
}
#f_familly{
  width: 600px; text-align: right;
}
#f_familly select{
  border: 1px solid #555;
  padding: 5px 30px 5px 15px; color: #555;
  appearance: none; outline: none; cursor: pointer;
  background: url('../img/icon_arrow_gray.png') no-repeat right center;
  background-size: 24px;
}

/* aside */
.s_wrap{
  background-color: black;
  width: 210px; height: 210px; border: 1px solid #555; border-radius: 105px;
  color: white;
  display: flex; flex-direction: column; justify-content: center; align-items: center;
  position: fixed; top: 190px; right: 15px;
  img{width: 129px; margin-bottom: 8px;}
  h2{margin-bottom: 8px; font-weight: 400;}
  p{margin: 0;}
}
#s_wrap_d1{
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
  width: 140px; margin-bottom: 8px; padding-bottom: 8px; font-weight: 500; cursor: pointer;
  display: flex; justify-content: space-between;
}
#s_wrap_d1 p:nth-child(1):hover{
  text-decoration: underline;
}
#s_wrap_d2{
  span{margin-right: 8px; display: inline;}
  h4{font-weight: 400; letter-spacing: -1px; cursor: pointer; display: inline;}
  h4:hover{text-decoration: underline;}
}
